body {
    padding-left: 13%;
    padding-right: 13%;
    padding-bottom: 2.5%;
    padding-top: 2.5%;
    background-color: black;
    color: white;
}

.borde-div {
    border: solid white 3px;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 3.5%;
}

h1 {
    text-align: center;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
}

li h3 b {
    background-color: darkblue;
    border-radius: 5px;
}

h2 {
    background-color: darkcyan;
    border-radius: 5px;
}

p {
    font-size: 18px;
}

.retangulo {
    border: solid darkblue 2px;
    background-color: green;
}

b {
    background-color: darkolivegreen;
}

.borde {
    border: solid darkcyan 2px;
    padding-left: 3%;
    padding-right: 3%;
}

.imagen {
    text-align: center;
}

.borde-a {
    border: solid darkcyan 2px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
}