body {
    padding-left: 20%;
    padding-right: 20%;
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}

li h3 b {
    background-color: darkblue;
    border-radius: 5px;
}

h2 {
    background-color: darkcyan;
    border-radius: 5px;
}